/* Content Fragments container - similar to cards layout */
.content-fragments > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.content-fragments > ul > li {
  /* Remove border as content-fragment block will have its own styling */
  display: block;
}

/* Override content-fragment styles when inside content-fragments container */
.content-fragments .content-fragment > ul {
  /* Disable grid for individual content-fragment inside container */
  display: block;
  grid-template-columns: unset;
  grid-gap: 0;
}

.content-fragments .content-fragment > ul > li {
  /* Individual content fragment card styling */
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.content-fragments .content-fragment .content-fragment-card-body {
  margin: 16px;
}

.content-fragments .content-fragment .content-fragment-card-image {
  line-height: 0;
}

.content-fragments .content-fragment > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

