/* Content Fragments container - similar to cards layout */
.content-fragments {
  padding: 0;
  margin: 0;
}

.content-fragments > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: stretch;
    width: 100%;
    display: flex;
    grid-gap: 24px;
}

.content-fragment > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    min-width: 200px;
    box-sizing: border-box;
    /* padding: 10px; */
    /* background-color: lightblue; */
    /* margin: 5px; */
    grid-gap: 24px;
    border-radius: 16px;
    overflow: hidden;
}
/* Override content-fragment styles when inside content-fragments container */
.content-fragments .content-fragment {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.content-fragments .content-fragment > ul {
  /* Disable grid for individual content-fragment inside container */
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-template-columns: unset;
  grid-gap: 0;
}

.content-fragments .content-fragment > ul > li {
  /* Individual content fragment card styling */
  border: 1px solid #dadada;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-fragments .content-fragment .content-fragment-card-body {
  margin: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-fragments .content-fragment .content-fragment-card-image {
  line-height: 0;
  flex-shrink: 0;
}

.content-fragments .content-fragment > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
}
.content-fragments-wrapper{
  padding: 0;
}

.content-fragments ul li {
    flex: 1;
    min-width: 200px;
    /* box-sizing: border-box; */
    /* padding: 10px; */
    /* background-color: lightblue; */
    /* margin: 5px; */
}