/* Card-style layout for content fragments */
.content-fragments > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: stretch;
    width: 100%;
    display: flex;
    grid-gap: 24px;
}

.content-fragment > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    min-width: 200px;
    box-sizing: border-box;
    /* padding: 10px; */
    /* background-color: lightblue; */
    /* margin: 5px; */
    grid-gap: 24px;
    border-radius: 16px;
    overflow: hidden;
}

.content-fragment .content-fragment-card-body {
  margin: 16px;
}

.content-fragment .content-fragment-card-image {
  line-height: 0;
}

.content-fragment > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* Error state */
.content-fragment .cf-error {
  padding: 20px;
  background-color: #fff3cd;
  border: 1px solid #ffc107;
  border-radius: 4px;
  color: #856404;
}

.content-fragment .cf-error .error-details {
  font-size: 12px;
  margin: 5px 0;
  color: #666;
}

/* Loading state */
.content-fragment .cf-loading {
  padding: 20px;
  text-align: center;
  color: #666;
}

.content-fragment > ul > li {
padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
        padding-left: 1rem;
        margin: auto;
        background-color: #0B2739;
        border-color: #9F9C99;
    }


    .content-fragments ul li {
    flex: 1;
    min-width: 200px;
    /* box-sizing: border-box; */
    /* padding: 10px; */
    /* background-color: lightblue; */
    /* margin: 5px; */
}